// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;
@padding:								@grid-gutter-width / 2;


// Brand colors
// -------------------------

@brand-primary:	#27ae60;
@body-bg:				#000;
@content-bg:		#FFF;
@link-color:		#ffcf46; 


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";
