.widget-area {
	padding-top: @padding;
	padding-bottom: @padding;
	
	.widget {
		background-color: @widget-bg-color;
		border-radius: @border-radius;
		padding: @padding;
		font-size: 0.75em;
		
		> h3 {
			margin: 0 0 @padding;
			font-size: 1.667em;
			color: @navbar-color-dark;
			font-weight: bold;
		}
	}
}
